# Imports e Dependências

In [33]:
import pandas as pd

# Dataset

In [34]:

df = pd.read_json('./dataset/movie_dataset.json')
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,ingestion_date
0,False,/a3VFDThApTb4lpHfGJQ0oYnJdz8.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",https://www.aimeemovie.com/,1151470,tt5660834,[US],en,...,0,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,She will find you.,The Vigilante,False,5.850,20,2025-03-24
1,False,/gsQJOfeW45KLiQeEIsom94QPQwb.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,1125899,tt27812086,[GB],en,...,0,96,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The stakes are a thousand feet high.,Cleaner,False,5.800,46,2025-03-24
2,False,/19pr5CzgsBYs67FAJvke8GQxN4g.jpg,None,0,"[{'id': 27, 'name': 'Horror'}]",,1301650,tt32195076,[MN],mn,...,0,83,"[{'english_name': 'Mongolian', 'iso_639_1': 'm...",Released,,Z Zone,False,7.600,9,2025-03-24
3,False,/2siOHQYDG7gCQB6g69g2pTZiSia.jpg,None,270000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",https://movies.disney.com/snow-white-2025,447273,tt6208148,[US],en,...,87000000,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The classic tale comes to life.,Snow White,False,4.664,256,2025-03-24
4,False,/qfAfE5auxsuxhxPpnETRAyTP5ff.jpg,"{'id': 131295, 'name': 'Captain America Collec...",180000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://www.marvel.com/movies/captain-america-...,822119,tt14513804,[US],en,...,400056272,119,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future favors the brave.,Captain America: Brave New World,False,6.100,1090,2025-03-24

# Análise Exploratória (Para Limpeza de dados)

### Análise de colunas (Tipo e conteúdo)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  600 non-null    bool
 1   backdrop_path          585 non-null    object
 2   belongs_to_collection  267 non-null    object
 3   budget                 600 non-null    int64
 4   genres                 600 non-null    object
 5   homepage               600 non-null    object
 6   id                     600 non-null    int64
 7   imdb_id                592 non-null    object
 8   origin_country         600 non-null    object
 9   original_language      600 non-null    object
 10  original_title         600 non-null    object
 11  overview               600 non-null    object
 12  popularity             600 non-null    float64
 13  poster_path            599 non-null    object
 14  production_companies   600 non-null    object
 15  production_countries   600 non-null    object
 16  release_date           600 non-null    object
 17  revenue                600 non-null    int64
 18  runtime                600 non-null    int64
 19  spoken_languages       600 non-null    object
 20  status                 600 non-null    object
 21  tagline                600 non-null    object
 22  title                  600 non-null    object
 23  video                  600 non-null    bool
 24  vote_average           600 non-null    float64
 25  vote_count             600 non-null    int64
 26  ingestion_date         600 non-null    object
dtypes: bool(2), float64(2), int64(5), object(18)
memory usage: 118.5+ KB

### Validação de colunas numéricas

In [36]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,6.000000e+02,6.000000e+02,600.000000,6.000000e+02,600.000000,600.000000,600.000000
mean,6.203911e+07,6.032627e+05,111.425041,2.878245e+08,112.165000,6.720020,6486.865000
std,8.231932e+07,4.866233e+05,174.108752,4.310022e+08,31.357294,1.614679,8366.438229
min,0.000000e+00,1.100000e+01,25.061625,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,6.393925e+04,48.224250,0.000000e+00,94.750000,6.243500,78.500000
50%,2.000000e+07,5.712645e+05,59.781187,6.094703e+07,110.000000,7.046000,1771.500000
75%,1.022500e+08,1.075539e+06,97.680750,4.623667e+08,131.000000,7.630000,11673.000000
max,4.600000e+08,1.450432e+06,1794.803500,2.923706e+09,242.000000,10.000000,37221.000000

### Exclui colunas com valores nulos

In [37]:
df = df.drop(columns=['backdrop_path', 'belongs_to_collection', 'imdb_id', 'poster_path', 'homepage'])
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 600 non-null    bool
 1   budget                600 non-null    int64
 2   genres                600 non-null    object
 3   id                    600 non-null    int64
 4   origin_country        600 non-null    object
 5   original_language     600 non-null    object
 6   original_title        600 non-null    object
 7   overview              600 non-null    object
 8   popularity            600 non-null    float64
 9   production_companies  600 non-null    object
 10  production_countries  600 non-null    object
 11  release_date          600 non-null    object
 12  revenue               600 non-null    int64
 13  runtime               600 non-null    int64
 14  spoken_languages      600 non-null    object
 15  status                600 non-null    object
 16  tagline               600 non-null    object
 17  title                 600 non-null    object
 18  video                 600 non-null    bool
 19  vote_average          600 non-null    float64
 20  vote_count            600 non-null    int64
 21  ingestion_date        600 non-null    object
dtypes: bool(2), float64(2), int64(5), object(13)
memory usage: 95.1+ KB

### Pega primeiros valores de colunas tipo Array

In [38]:
df['genre'] = df['genres'].apply(lambda x: x[0]['name'] if x else None)
df['company'] = df['production_companies'].apply(lambda x: x[0]['name'] if x else None)
df['country'] = df['production_countries'].apply(lambda x: x[0]['name'] if x else None)
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: x[0]['name'] if x else None)
df = df.drop(columns=['genres', 'production_companies', 'production_countries'])
df.head()

,adult,budget,id,origin_country,original_language,original_title,overview,popularity,release_date,revenue,...,status,tagline,title,video,vote_average,vote_count,ingestion_date,genre,company,country
0,False,0,1151470,[US],en,The Vigilante,"Returning from Afghanistan, Jessica, a Spec OP...",1718.486125,2023-09-08,0,...,Released,She will find you.,The Vigilante,False,5.850,20,2025-03-24,Thriller,Shattered Images Films,United States of America
1,False,0,1125899,[GB],en,Cleaner,When a group of radical activists take over an...,1510.943375,2025-02-19,0,...,Released,The stakes are a thousand feet high.,Cleaner,False,5.800,46,2025-03-24,Action,Anton,United Kingdom
2,False,0,1301650,[MN],mn,Z Zone,"In a remote corner of the world, a group of tr...",1296.425625,2025-02-07,0,...,Released,,Z Zone,False,7.600,9,2025-03-24,Horror,None,Mongolia
3,False,270000000,447273,[US],en,Snow White,Princess Snow White flees the castle when the ...,1114.221625,2025-03-19,87000000,...,Released,The classic tale comes to life.,Snow White,False,4.664,256,2025-03-24,Family,Walt Disney Pictures,United States of America
4,False,180000000,822119,[US],en,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,1794.803500,2025-02-12,400056272,...,Released,The future favors the brave.,Captain America: Brave New World,False,6.100,1090,2025-03-24,Action,Marvel Studios,United States of America

# Salva a tabela silver como CSV

In [40]:
df.to_csv("./dataset/movie_dataset_silver.csv")